@charset "UTF-8";


*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
}
.container{
    background-color: #1D2437;
    background-image: url(img/Asset\ -\ BG\ -\ Luz.png);
}

.container .righside {
    background-image: url(img/hero.png);
}