@charset "utf-8";


@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@400;500;600 & display=swap');

:root {
    --header-height: 3.5rem;


                                      /*tradução*/
    --first-color: hsl(228, 66%, 53%); /*Primeira cor*/
    --first-color-alt: hsl(228, 66%, 47%);
    --first-color-light: hsl(228, 62%, 59%); /*luz de priemira cor*/
    --first-color-lighten: hsl(228, 100%, 97%); /*primeira cor clarear*/
    --second-color: hsl(25, 83%, 53%); /*segunda cor*/
    --title-color: hsl(228, 57%, 28%); /*cor do título*/
    --text-color: hsl(228, 15%, 50%); /*cor do texto*/
    --text-color-light: hsl(228, 12%, 75%); /*luz de cor de texto*/
    --border-color: hsl(228, 99%, 98%); /*cor da borda*/
    --body-color: #fff; /*cor do corpo*/
    --container-color: #fff; /*cor do recipiente*/


    /*==========font and typography==========*/
    /*==========fonte e tipografia==========*/
    /*.5rem = 8px | 1rem = 16px ...*/

    --body-font: 'Poppins', sem serifa; /*font do corpo*/
    --biggest-font-size: 2.25rem; /*maior tamanho de fonte*/
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem; /*tamanho normal da fonte*/
    --small-font-size: .813rem; /*tamanho de fonte pequena*/
    --smaller-font-size:.75rem; /*tamanho de fonte menor*/

    /*==========font weight==========*/
    /*==========peso da fonte==========*/

    --font-medium: 500; /*meio fonte*/
    --font-semi-bolde: 600; /*fonte semi negrito*/

    /*==========Z index==========*/
    /*==========z índice==========*/

    --z-tooltip: 10; /*z ferramenta*/
    --z-fixed: 100; /*z fixo*/
}

     /*==========Responsive typography==========*/
    /*==========tipografia responsiva==========*/

@media screen and (min-width: 1024px) { /*width -> Largura*/
    :root {

        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;

    }
}

    /*========== Base ==========*/
*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;  /*1 pergaminho-comportamento*/ /* 2 liso*/

}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3{
    color: var(--title-color);
    font-weight: var(--font-semi-bolde); /*weight --> peso*/

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%; /*width --> largura*/
    height: auto; /*height --> altura */
}

input,
button{
    font-family: var(--body-font);
    outline: none; /*contorno*/
    border: none;
}

    /*==========Reusable CSS classes==========*/
    /*==========aulas de CSS reutilizáveis==========*/

.container{
    max-width: 1024px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid{ /*grade*/
    display: grid;
}

.section{
    padding: 4.5rem 0 2rem;
}

.section__title{
    font-size: var(--h2-font-size);
    margin-bottom: 1rem;
}

.section__title span{
    color: var(--second-color);
}

.section__subtitle{
    display: block;
    font-size: var(--small-font-size);
    color: var(--second-color);
}

.main{
    overflow: hidden; /*transbordar escondido*/
}


/*==========Header & nav==========*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: var(--z-fixed);
    transition: .4s;
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    display: inline;
    align-items: center;
    column-gap: .25rem;
    font-weight: var(--font-medium);
    transition: .3s;
}

.nav__logo i{
    font-size: 1rem;
}
''
.nav__logo:hover{
    color: var(--first-color);
}

@media screen and (max-width: 1023px) {
    .nav__menu{
        position: fixed;
        bottom: 2rem;
        background-color: var(--container-color);
        box-shadow: 0 8px 24px hsla(2281 66%, 45%, .15);
        width: 90%;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 1.30rem 3rem;
    }
}